In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlp
import seaborn as sns
import os
import pickle

os.chdir(path)

# Dự báo return

In [106]:
model = pickle.load(open('data/finalized_model.sav', 'rb'))

In [107]:
model.feature_names_in_

array(['bctc', 'biên_bản', 'biến_động', 'bks', 'bán', 'bán_niên',
       'báo_cáo', 'bất_thường', 'bị', 'bổ_nhiệm', 'bổ_sung', 'cbtt',
       'chào', 'chênh_lệch', 'chấp_thuận', 'chậm', 'chốt', 'chủ_tịch',
       'chức', 'chứng_khoán', 'chứng_nhận', 'cp', 'ctcp', 'cthđqt', 'có',
       'công_bố', 'công_ty', 'cùng', 'cảnh_báo', 'cổ_phiếu', 'cổ_phần',
       'cổ_tức', 'cổ_đông', 'danh_sách', 'diện', 'doanh_nghiệp',
       'gia_hạn', 'giao_dịch', 'giá', 'giải_trình', 'giảm', 'giấy', 'giữ',
       'gần', 'hn', 'hđqt', 'hơn', 'họp', 'hợp_nhất', 'hợp_đồng',
       'kinh_doanh', 'kiểm_soát', 'kiểm_toán', 'kqkd', 'ký', 'kế_hoạch',
       'kết_quả', 'kỳ', 'liên_quan', 'lnst', 'là', 'làm', 'lãi', 'lên',
       'lấy', 'lỗ', 'lớn', 'lợi_nhuận', 'mua', 'mẹ', 'nam', 'nghị_quyết',
       'người', 'nhận', 'nhắc_nhở', 'niêm_yết', 'nộp', 'phát_hành',
       'phương_án', 'phạm', 'quyết_định', 'quyền', 'quản_trị', 'quỹ',
       'ra', 'sau', 'so', 'soát_xét', 'tgđ', 'tham_dự', 'thay_đổi', 'thu',
       'thuế', 'thành_viên', 'thêm', 'thông_báo', 'thông_qua',
       'thông_tin', 'thường_niên', 'thị', 'thời_gian', 'thực_hiện',
       'tiền', 'trái_phiếu', 'trước', 'trưởng', 'trả', 'trần', 'tvhđqt',
       'tài_chính', 'tài_liệu', 'tình_hình', 'tăng', 'tổ_chức',
       'tổng_giám_đốc', 'tỷ_lệ', 'việc', 'việt', 'văn', 'văn_bản', 'vốn',
       'vợ', 'xin', 'ý_kiến', 'đhcđ', 'đhđcđ', 'điều_chỉnh', 'điều_lệ',
       'đăng_ký', 'đưa', 'được', 'đại_hội_đồng', 'đạt', 'đầu', 'đầu_tư',
       'đợt', 'đức', 'ủy_viên', 'DLG', 'FLC', 'HAG', 'HNG', 'HVG', 'ITA',
       'JVC', 'MHC', 'MSN', 'MWG', 'NSC', 'OGC', 'PAC', 'PAN', 'PET',
       'PGS', 'PNJ', 'PPC', 'PVC', 'PVD', 'PVS', 'PVX', 'SAM', 'SBT',
       'TDH', 'TTF', 'am', 'asm', 'bia', 'biểu_quyết', 'bà', 'bài', 'bá',
       'báo_chí', 'bớt', 'cao', 'cdh', 'chiêu_bài', 'chuyển_nhượng',
       'chuyển_đổi', 'commerzbank', 'công_khai', 'cđnb', 'cử', 'dab',
       'deep', 'dhcd', 'di_động', 'ds', 'dtt', 'dâu', 'dùng', 'electric',
       'em', 'em_gái', 'esop', 'giá_trị', 'giáp', 'giật_mình',
       'giới_thiệu', 'group', 'góp', 'gđ', 'hiệp', 'hnx', 'hoa_mười_giờ',
       'hoàn_thành', 'hpb', 'hàng', 'hóa_đơn', 'hạn_chế', 'hạn_mức',
       'hệ_thống', 'hồ_sơ', 'hội_đồng_quản_trị', 'hợi', 'khoản',
       'không_hết', 'không_thành_công', 'khối', 'khởi_tố', 'kt', 'ký_kết',
       'kế_toán', 'lao_động', 'liên_tục', 'long', 'ltd', 'lãi_suất', 'lê',
       'lê_thị_kim', 'lưu', 'lưu_hành', 'lượng', 'lập', 'lịch', 'mai',
       'masan', 'miền', 'mtg', 'một_số', 'mới', 'mời',
       'nguyễn_ngọc_quang', 'nguyễn_thu_hiền', 'nguyễn_thành',
       'nguyễn_đức_huy', 'ngân_hàng', 'nh', 'nhiều', 'nhạn', 'ninh',
       'nổi', 'phan', 'phan_nguyễn_hoài', 'phá', 'phương_thức',
       'phụ_trách', 'pvcombank', 'quản_lý', 'riêng_lẻ', 'sabeco',
       'sài_gòn', 'sóng', 'sông_đà', 'số_lượng', 'sở_hữu', 'sử_dụng',
       'thoái', 'thu_hồi', 'thái_bình', 'thông_cáo', 'thương_mại',
       'thưởng', 'thế_giới', 'thứ', 'tiếp_tục', 'tm', 'tmcp', 'toàn_bộ',
       'toàn_thị_trường', 'tpg', 'trung_kiên', 'trung_tâm',
       'trần_đình_long', 'trịnh', 'tvbks', 'tái_đầu_tư', 'tâm_lý',
       'tín_dụng', 'tính', 'tối_đa', 'upcom', 'uvhđqt', 'vay', 'vi_phạm',
       'vig', 'văn_thược', 'vọng', 'vụ_án', 'xuyên', 'xuân', 'xả', 'ăn',
       'đông', 'đơn', 'đại_chúng', 'đại_diện', 'đến', 'đỉnh', 'đỗ', 'ATA',
       'BT6', 'DHB', 'DLR', 'FBA', 'GTT', 'HAI', 'HAS', 'HDO', 'KHL',
       'KSK', 'LM3', 'LO5', 'OPC', 'PCT', 'PSG', 'PVA', 'PVV', 'S12',
       'S96', 'SAB', 'SCO', 'SD5', 'SPP', 'TOP', 'V11', 'VNI', 'VST'],
      dtype=object)

In [198]:
data = pd.read_csv('Preprocessing/20230305/input_table.csv')
data

,new_date,ma_ck,session,return,volatility,title_new
0,2023-01-10,BHT,return_in_session,0.000000,0.024096,tổ_chức đại_hội_đồng cổ_đông
1,2023-01-10,HAG,return_before_session,-0.008830,0.020629,hoàng anh gia_lai lãi trở_lại sau bầu đức hào_...
2,2023-01-10,PET,return_in_session,-0.007624,0.026901,thực_hiện quyền nhận cổ_tức cổ_phiếu tỷ_lệ
3,2023-01-10,PLX,return_in_session,0.048654,0.015806,sau khi hạ tiêu petrolimex bất_ngờ báo lãi thu...
4,2023-01-10,PRT,return_in_session,-0.017544,0.043072,thông_báo dự_kiến tổ_chức đại_hội_đồng cổ_đông
...,...,...,...,...,...,...
538,2023-02-24,SP2,return_in_session,0.000000,0.004349,bổ_nhiệm bùi quế_lâm giữ chức tgđ
539,2023-02-24,STT,return_in_session,-0.111226,0.047288,ký_kết hợp_đồng kiểm_toán
540,2023-02-24,UDC,return_before_session,0.018562,0.023719,nghị_quyết hđqt thông_qua phương_án sử_dụng tà...
541,2023-02-24,VOS,return_in_session,-0.004197,0.026799,tổ_chức đhđcđ thường_niên
542,2023-02-24,VSF,return_before_session,0.000000,0.092252,nghị_quyết v triệu_tập họp đhđcđ thường_niên

In [199]:
data['Date'] = pd.DatetimeIndex(data['new_date'])
data = data[data['Date']<'2023-01-20'].reset_index(drop=True)
data

,new_date,ma_ck,session,return,volatility,title_new,Date
0,2023-01-10,BHT,return_in_session,0.000000,0.024096,tổ_chức đại_hội_đồng cổ_đông,2023-01-10
1,2023-01-10,HAG,return_before_session,-0.008830,0.020629,hoàng anh gia_lai lãi trở_lại sau bầu đức hào_...,2023-01-10
2,2023-01-10,PET,return_in_session,-0.007624,0.026901,thực_hiện quyền nhận cổ_tức cổ_phiếu tỷ_lệ,2023-01-10
3,2023-01-10,PLX,return_in_session,0.048654,0.015806,sau khi hạ tiêu petrolimex bất_ngờ báo lãi thu...,2023-01-10
4,2023-01-10,PRT,return_in_session,-0.017544,0.043072,thông_báo dự_kiến tổ_chức đại_hội_đồng cổ_đông,2023-01-10
...,...,...,...,...,...,...,...
138,2023-01-19,TOP,return_in_session,0.000000,0.031711,vũ_đình phúc ủy_viên hđqt bán cp,2023-01-19
139,2023-01-19,TTF,return_in_session,0.065709,0.021923,báo_cáo tình_hình quản_trị,2023-01-19
140,2023-01-19,VAT,return_in_session,0.000000,0.037869,cổ_đông lớn trần kim_phượng mua cp,2023-01-19
141,2023-01-19,VFG,return_before_session,0.062640,0.042000,chốt danh_sách cổ_đông chi_trả cổ_tức đợt,2023-01-19
142,2023-01-19,VVN,return_in_session,0.000000,0.032383,báo_cáo quản_trị công_ty,2023-01-19

In [200]:
dummies = pd.get_dummies(data['ma_ck'])
dummies
from sklearn.feature_extraction.text import CountVectorizer
X = data['title_new']
vectorizer = CountVectorizer()
vectorizer.fit(X)
X_vec = vectorizer.transform(X)
tfidf_feature_names = vectorizer.get_feature_names_out()
sentiments = pd.DataFrame(data=X_vec.toarray(), columns = tfidf_feature_names)
sentiments[dummies.columns] = dummies
sentiments

,agrico,an,an_khê,anh,ban,ban_hành,bapi,bctc,biên_bản,biến_động,...,VES,VFG,VIR,VNI,VST,VTG,VTI,VTR,VVN,X77
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [201]:
sentiments_df = pd.DataFrame(index=sentiments.index)
for i in model.feature_names_in_:
  if i in sentiments.columns:
    sentiments_df[i]=sentiments[i]
  else:
    sentiments_df[i]=0
sentiments_df

<ipython-input-201-71d747e7d4c5>:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  sentiments_df[i]=sentiments[i]
<ipython-input-201-71d747e7d4c5>:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  sentiments_df[i]=0

,bctc,biên_bản,biến_động,bks,bán,bán_niên,báo_cáo,bất_thường,bị,bổ_nhiệm,...,S12,S96,SAB,SCO,SD5,SPP,TOP,V11,VNI,VST
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
139,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [205]:
y_pred = model.predict(sentiments_df)

In [206]:
y_pred

array([ 0.00877919,  0.0118868 ,  0.00785685,  0.014752  ,  0.02139043,
       -0.0873565 , -0.00719814,  0.00434775, -0.00909633,  0.01253834,
        0.00352962, -0.00410082, -0.00409159,  0.00935844,  0.00947543,
       -0.05486712,  0.01103911,  0.00651518, -0.00617884, -0.02530747,
       -0.02911083,  0.02482879,  0.00352962,  0.03883431, -0.01646306,
        0.00352962,  0.00352962, -0.00380126,  0.00537602,  0.00352962,
        0.00352962,  0.02957901, -0.01765457, -0.01391763, -0.01676902,
        0.05403711,  0.00352962,  0.00280754,  0.02265297, -0.00409159,
       -0.00409159, -0.00194199, -0.00409159,  0.00076472, -0.01517209,
       -0.01091589,  0.00352962,  0.00352962,  0.00352962,  0.00286756,
        0.00352962,  0.00352962, -0.00224928, -0.01009347,  0.00981894,
        0.00947784, -0.00409159,  0.00430787, -0.00409159,  0.00507229,
        0.00352962,  0.00177788,  0.00352962,  0.01581334,  0.01757056,
       -0.0165534 ,  0.00664692,  0.00352962, -0.01853411, -0.00515316,
       -0.00623902,  0.03804323, -0.01763113,  0.00122954, -0.02306572,
       -0.01094822, -0.00093804,  0.00790612,  0.00352962,  0.00875066,
       -0.00873868,  0.00352962,  0.0124881 , -0.00969408,  0.00352962,
       -0.00528868,  0.02424583, -0.00796447,  0.00984378, -0.02743037,
       -0.0159013 ,  0.00544654,  0.01735813,  0.00352962,  0.00352962,
       -0.00409159, -0.00409159, -0.00409159, -0.00409159, -0.04208759,
        0.00347853,  0.00352962,  0.00513628,  0.00352962, -0.01688013,
        0.02363413,  0.00352962,  0.00352962, -0.01735851,  0.00352962,
        0.00113327,  0.00347893,  0.00352962, -0.00566095,  0.00352962,
        0.00352962, -0.00409159,  0.00352962, -0.01396289, -0.01895115,
        0.00269499,  0.01536793, -0.00368393,  0.00452867,  0.01510315,
        0.03630429, -0.00409159, -0.01638364,  0.00089161, -0.02095731,
        0.01665113, -0.05486712,  0.00455685, -0.00605962, -0.00409159,
        0.01691093, -0.00409159, -0.0218516 , -0.03319006, -0.02364245,
       -0.03736909, -0.00204067,  0.00352962])

In [207]:
price_output = data[['ma_ck', 'Date', 'session']]
price_output['pred_return'] = y_pred
price_output = price_output[price_output['session']=='return_in_session']
price_output

<ipython-input-207-5d9f9ac6280d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_output['pred_return'] = y_pred

    ma_ck       Date            session  pred_return
0     BHT 2023-01-10  return_in_session     0.008779
2     PET 2023-01-10  return_in_session     0.007857
3     PLX 2023-01-10  return_in_session     0.014752
4     PRT 2023-01-10  return_in_session     0.021390
5     SCO 2023-01-10  return_in_session    -0.087356
..    ...        ...                ...          ...
137   TNI 2023-01-19  return_in_session    -0.021852
138   TOP 2023-01-19  return_in_session    -0.033190
139   TTF 2023-01-19  return_in_session    -0.023642
140   VAT 2023-01-19  return_in_session    -0.037369
142   VVN 2023-01-19  return_in_session     0.003530

[85 rows x 4 columns]

# Du bao gia

In [208]:
price_root = pd.read_excel('data/price07_01_2023.xlsx', usecols = ['Date', 'maCK', 'Open', 'Close'])
price = price_root.copy()
price['Date'] = pd.DatetimeIndex(price['Date'], dayfirst=True)
price = price.rename(columns={'Date':'date',
                              'maCK':'ma_ck',
                              'Open':'open_price',
                              'Close':'close_price'})
price = price.sort_values(['ma_ck', 'date'], ascending=True)
price['open_price'] = price['open_price'].astype('str')
price['open_price'] = price['open_price'].str.replace('00.0','000')
price['open_price'] = price['open_price'].str.replace(',', '.')
# price = price[price['open_price'].isnull()==False]
price = price.rename(columns={'date': 'Date'})
price['open_price'] = price['open_price'].astype('float', errors='raise')
price = price.drop_duplicates(ignore_index=True)
price

<ipython-input-208-89db4a59ffe6>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  price['open_price'] = price['open_price'].str.replace('00.0','000')

           Date ma_ck  open_price  close_price
0    2023-01-09   ABC         6.2          6.2
1    2023-01-10   ABC         6.2          6.2
2    2023-01-11   ABC         6.2          6.2
3    2023-01-12   ABC         6.2          6.2
4    2023-01-13   ABC         5.5          6.5
...         ...   ...         ...          ...
6813 2023-02-21   XPH         8.6          8.6
6814 2023-02-22   XPH         8.6          8.6
6815 2023-02-23   XPH         8.6          8.6
6816 2023-02-24   XPH         8.4          8.4
6817 2023-02-27   XPH         8.4          8.4

[6818 rows x 4 columns]

In [209]:
price_df = price_output.merge(price, on=['Date', 'ma_ck'], how='left')
price_df['pred_price'] = np.power(10, price_df['pred_return'])
price_df['pred_price'] = price_df['pred_price']*price_df['open_price']
price_df

,ma_ck,Date,session,pred_return,open_price,close_price,pred_price
0,BHT,2023-01-10,return_in_session,0.008779,14.70,14.70,15.000182
1,PET,2023-01-10,return_in_session,0.007857,19.75,19.60,20.110550
2,PLX,2023-01-10,return_in_session,0.014752,35.10,36.85,36.312748
3,PRT,2023-01-10,return_in_session,0.021390,11.50,11.30,12.080594
4,SCO,2023-01-10,return_in_session,-0.087356,4.60,4.60,3.761849
...,...,...,...,...,...,...,...
80,TNI,2023-01-19,return_in_session,-0.021852,3.15,3.10,2.995428
81,TOP,2023-01-19,return_in_session,-0.033190,1.40,1.40,1.296994
82,TTF,2023-01-19,return_in_session,-0.023642,4.27,4.56,4.043761
83,VAT,2023-01-19,return_in_session,-0.037369,1.00,1.00,0.917552
84,VVN,2023-01-19,return_in_session,0.003530,3.40,3.40,3.427745

In [210]:
price['open_price']

0       6.2
1       6.2
2       6.2
3       6.2
4       5.5
       ...
6813    8.6
6814    8.6
6815    8.6
6816    8.4
6817    8.4
Name: open_price, Length: 6818, dtype: float64

# AUTOREGRESSIVE

In [211]:
price

           Date ma_ck  open_price  close_price
0    2023-01-09   ABC         6.2          6.2
1    2023-01-10   ABC         6.2          6.2
2    2023-01-11   ABC         6.2          6.2
3    2023-01-12   ABC         6.2          6.2
4    2023-01-13   ABC         5.5          6.5
...         ...   ...         ...          ...
6813 2023-02-21   XPH         8.6          8.6
6814 2023-02-22   XPH         8.6          8.6
6815 2023-02-23   XPH         8.6          8.6
6816 2023-02-24   XPH         8.4          8.4
6817 2023-02-27   XPH         8.4          8.4

[6818 rows x 4 columns]

In [212]:
from statsmodels.tsa.ar_model import AutoReg
def ar(ma_ck):
  df = price[price['ma_ck']==ma_ck].sort_values('Date', ignore_index=True)
  pred_df = df[['Date', 'ma_ck']]
  reg = AutoReg(df['close_price'], 1)
  pred_df['pred_ar'] = reg.fit().predict()
  return pred_df

In [213]:
ar_df = ar('ABC')

<ipython-input-212-f1c281157b7d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pred_df['pred_ar'] = reg.fit().predict()

In [214]:
for i in price_df['ma_ck'].unique():
  ar_df = ar_df.append(ar(i))

<ipython-input-212-f1c281157b7d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pred_df['pred_ar'] = reg.fit().predict()

In [215]:
ar_df

         Date ma_ck   pred_ar
0  2023-01-09   ABC       NaN
1  2023-01-10   ABC  6.342317
2  2023-01-11   ABC  6.342317
3  2023-01-12   ABC  6.342317
4  2023-01-13   ABC  6.342317
..        ...   ...       ...
26 2023-02-21   VVN  3.286522
27 2023-02-22   VVN  3.286522
28 2023-02-23   VVN  3.286522
29 2023-02-24   VVN  3.286522
30 2023-02-27   VVN  3.286522

[2139 rows x 3 columns]

In [216]:
price_df = price_df.merge(ar_df, on=['Date', 'ma_ck'], how='left')
price_df

,ma_ck,Date,session,pred_return,open_price,close_price,pred_price,pred_ar
0,BHT,2023-01-10,return_in_session,0.008779,14.70,14.70,15.000182,14.812555
1,PET,2023-01-10,return_in_session,0.007857,19.75,19.60,20.110550,20.268744
2,PLX,2023-01-10,return_in_session,0.014752,35.10,36.85,36.312748,36.457721
3,PRT,2023-01-10,return_in_session,0.021390,11.50,11.30,12.080594,11.180259
4,SCO,2023-01-10,return_in_session,-0.087356,4.60,4.60,3.761849,4.576000
...,...,...,...,...,...,...,...,...
80,TNI,2023-01-19,return_in_session,-0.021852,3.15,3.10,2.995428,3.085679
81,TOP,2023-01-19,return_in_session,-0.033190,1.40,1.40,1.296994,1.406584
82,TTF,2023-01-19,return_in_session,-0.023642,4.27,4.56,4.043761,4.305240
83,VAT,2023-01-19,return_in_session,-0.037369,1.00,1.00,0.917552,0.992353
84,VVN,2023-01-19,return_in_session,0.003530,3.40,3.40,3.427745,3.364781

In [217]:
price_df.to_excel('pred_price.xlsx', index=False)

# SO SANH AUTOREGRESSIVE VA NLP

In [218]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
def accuracy(ma_ck):
  df = price_df[price_df['ma_ck']==ma_ck]
  r2_nlp = r2_score(df['close_price'], df['pred_price'])
  r2_ar = r2_score(df['close_price'], df['pred_ar'])
  mse_nlp = mean_squared_error(df['close_price'], df['pred_price'])
  mse_ar = mean_squared_error(df['close_price'], df['pred_ar'])
  row = {'ma_ck':ma_ck, 'r2_nlp':r2_nlp, 'r2_ar':r2_ar, 'mse_nlp':mse_nlp, 'mse_ar':mse_ar}
  return row

In [219]:
mean_squared_error(price_df['close_price'], price_df['pred_price'])

0.7319141433705868

In [220]:
r2_score(price_df['close_price'], price_df['pred_ar'])

0.9997415106019857

In [221]:
compare_table = pd.DataFrame(columns=['ma_ck', 'r2_nlp', 'r2_ar', 'mse_nlp', 'mse_ar'])

In [222]:
for i in price_df['ma_ck'].unique():
  compare_table = compare_table.append(accuracy(i), ignore_index=True)
compare_table

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

   ma_ck     r2_nlp     r2_ar   mse_nlp    mse_ar
0    BHT   0.000000  0.000000  0.052249  0.012669
1    PET        NaN       NaN  0.260661  0.447219
2    PLX -49.465688 -0.327239  3.154105  0.082952
3    PRT  -3.122752 -0.208870  0.371048  0.108798
4    SCO        NaN       NaN  0.702497  0.000576
..   ...        ...       ...       ...       ...
63   SII        NaN       NaN  0.660772  0.009463
64   SJD        NaN       NaN  0.057915  0.000536
65   TTF        NaN       NaN  0.266503  0.064903
66   VAT        NaN       NaN  0.006798  0.000058
67   VVN        NaN       NaN  0.000770  0.001240

[68 rows x 5 columns]

In [223]:
price_df[price_df['ma_ck']=='PRT']

,ma_ck,Date,session,pred_return,open_price,close_price,pred_price,pred_ar
3,PRT,2023-01-10,return_in_session,0.021390,11.5,11.3,12.080594,11.180259
59,PRT,2023-01-18,return_in_session,0.005136,11.4,11.9,11.535625,11.449158

In [224]:
compare_table.dropna().describe()

          r2_nlp      r2_ar    mse_nlp     mse_ar
count  17.000000  17.000000  17.000000  17.000000
mean   -8.229888  -2.094513   1.055932   0.316102
std    14.946172   5.563721   2.457134   0.668173
min   -49.465688 -20.497689   0.003110   0.000043
25%    -9.912694  -0.327239   0.013159   0.000739
50%    -1.024968   0.000000   0.052249   0.017591
75%     0.000000   0.000000   0.371048   0.108798
max     0.253610   0.897004   9.848706   2.573791

In [225]:
import seaborn as sns
import matplotlib.pyplot as plt

In [226]:
compare_table = compare_table.dropna()
compare_table['compare_r2'] = compare_table['r2_nlp']>compare_table['r2_ar']
compare_table['compare_r2'].value_counts(normalize=True)

<ipython-input-226-6a31e2198c69>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_table['compare_r2'] = compare_table['r2_nlp']>compare_table['r2_ar']

False    0.882353
True     0.117647
Name: compare_r2, dtype: float64

In [227]:
compare_table['compare_mse'] = compare_table['mse_nlp']<compare_table['mse_ar']
compare_table['compare_mse'].value_counts(normalize=True)

<ipython-input-227-c5e327a32bb1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_table['compare_mse'] = compare_table['mse_nlp']<compare_table['mse_ar']

False    0.823529
True     0.176471
Name: compare_mse, dtype: float64